body {
  font-family: Montserrat;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Prata", serif;
}

.icon {
  display: inline-block;
  border-radius: 60px;
  background-color: grey;
  color: white;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

header {
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../assets/images/nha-hat-lon(5).jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/images/nha-hat-lon(5).jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 30px;
}

.tour, .destination, .booking, .stories, .footer, .blogs {
  padding: 0 50px;
}

nav {
  position: fixed;
}

nav a, nav .dropdown-item {
  color: white;
}

nav ul li {
  padding: 0 10px;
  cursor: pointer;
}

.navbar-toggle-icon {
  z-index: 1000;
}

.dropdown-menu {
  background-color: grey;
  line-height: 30px;
  border-radius: 8px;
}

a {
  color: black;
}

a:hover {
  color: red;
}

.title-left {
  padding: 0;
  margin: 35px 0;
}

.title-left h2 {
  font-size: 36px;
}

.title-left small {
  font-size: 19px;
  opacity: 0.85;
  color: grey;
}

.title-right {
  padding: 0;
  margin: 35px 0;
  padding-top: 40px;
}

.title-right .view-options {
  float: right;
  font-size: 14px;
}

.arrow {
  display: inline-block;
  border-radius: 60px;
  background-color: grey;
  color: white;
  float: right;
  margin-left: 10px;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

.arrow:hover {
  background-color: rgba(19, 36, 105, 0.904);
  color: white;
}

.carousel_item {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 300px;
  margin-right: 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: relative;
}

.carousel_item h2 {
  color: white;
  padding: 10px 30px;
  font-size: 25px;
}

.carousel_item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096), 0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17), 0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244), 0 12px 45px rgba(0, 0, 0, 0.34);
          box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096), 0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17), 0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244), 0 12px 45px rgba(0, 0, 0, 0.34);
}

.bookmark {
  display: inline-block;
  border-radius: 60px;
  background-color: rgba(255, 255, 255, 0.904);
  color: red;
  float: right;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.bookmark:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bookmark:active {
  background-color: rgba(19, 36, 105, 0.904);
  color: white;
}

.carousel__description {
  color: white;
  margin-left: 35px;
  line-height: 30px;
}

.carousel__description small {
  color: white;
  margin: -15px;
  font-size: 25px;
}

.carousel__description p {
  font-size: 14px;
  font-weight: normal;
  opacity: .7;
}

.display__card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  height: 300px;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.display__card p {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  color: white;
  text-transform: none;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.display__card img:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096), 0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17), 0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244), 0 12px 45px rgba(0, 0, 0, 0.34);
          box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096), 0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17), 0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244), 0 12px 45px rgba(0, 0, 0, 0.34);
}

.display__card:hover p {
  width: 80%;
  text-align: center;
}

.img-destination {
  max-height: 400px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  border-radius: 8px;
}

.destination__name {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 12px;
  z-index: 1;
}

@media (min-width: 538px) {
  .img-destination {
    max-width: auto;
    max-height: 400px;
    height: 250px;
  }
}

.booking {
  background: #0030d0;
  padding: 50px 30px;
  margin: 0 20px;
  border-radius: 8px;
  color: white;
}

.booking .booking__description {
  padding-top: 50px;
}

.booking .booking__title {
  font-size: 20px;
  opacity: 0.6;
}

.booking button {
  background: transparent;
  border: none;
}

.booking button .search {
  display: inline-block;
  border-radius: 60px;
  background-color: rgba(238, 20, 20, 0.904);
  color: white;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
  padding: 1em 0.6em;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  width: 60px;
  height: 60px;
  font-size: 1.2em;
}

.booking button .search:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.booking button .search:active {
  background-color: rgba(19, 36, 105, 0.904);
  color: white;
}

.stories {
  overflow: visible;
}

.stories__card {
  border-radius: 25px;
  height: 500px;
  color: black;
}

.stories__card:hover {
  -webkit-box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096), 0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17), 0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244), 0 12px 45px rgba(0, 0, 0, 0.34);
          box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096), 0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17), 0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244), 0 12px 45px rgba(0, 0, 0, 0.34);
}

.stories__card .stories__img {
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -webkit-filter: brightness(55%);
          filter: brightness(55%);
}

.stories__name {
  position: absolute;
  top: 90%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 1.8em;
  z-index: 1;
}

.create-by {
  width: 50px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  margin-top: 20px;
}

.create-by p {
  margin: 15px 5px;
  font-size: 14px;
  opacity: .8;
  float: left;
}

.avatar {
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 60px;
}

.blogs__display {
  overflow: hidden;
}

.blogs__card {
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.025), 0 6.7px 5.3px rgba(0, 0, 0, 0.036), 0 12.5px 10px rgba(0, 0, 0, 0.045), 0 22.3px 17.9px rgba(0, 0, 0, 0.054), 0 41.8px 33.4px rgba(0, 0, 0, 0.065), 0 100px 80px rgba(0, 0, 0, 0.09);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.025), 0 6.7px 5.3px rgba(0, 0, 0, 0.036), 0 12.5px 10px rgba(0, 0, 0, 0.045), 0 22.3px 17.9px rgba(0, 0, 0, 0.054), 0 41.8px 33.4px rgba(0, 0, 0, 0.065), 0 100px 80px rgba(0, 0, 0, 0.09);
}

.blogs__name {
  position: absolute;
  top: 45%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 12px;
  z-index: 1;
}

.img-blogs {
  border-radius: 8px;
}

.blogs__content {
  opacity: 0.8;
  font-size: 14px;
  line-height: 30px;
}

.footer {
  background: #151515;
  opacity: .85;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.footer .footer__title {
  padding-top: 50px;
}

.footer .list-group-item {
  background-color: transparent;
  padding: 11px 0;
  font-weight: normal;
  font-size: 15px;
  opacity: .85;
  color: #fff;
}

.footer__card {
  margin-left: 20px;
}

.footer__card:first-child {
  margin-left: 0;
}

.footer__card-big {
  margin-left: 60px;
  line-height: 30px;
}

.footer__card-big .icon {
  margin-left: 10px;
  background: red;
  color: white;
}

.footer__card-big .icon:hover {
  color: rgba(19, 36, 105, 0.904);
  background: white;
}
/*# sourceMappingURL=main.css.map */