$border: 8px;
$border-icon: 60px;
body {
 
  font-family: Montserrat;
  letter-spacing: 1px;
}
//global icon ( please don't touch this or i'll fuck you up ) 
h1, h2, h3, h4, h5, h6 {
  font-family: "Prata", serif;
}
.icon{
  display: inline-block;
  border-radius: $border-icon;
  background-color: grey;
  color: white;
  
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
  transition: 0.1s ease;
  cursor:pointer;
  
}
header{
  height:600px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/nha-hat-lon(5).jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding:30px;
  
}
.tour, .destination, .booking, .stories, .footer, .blogs{
  padding: 0 50px;
}
nav{
 
  a, .dropdown-item{
    color:white;
  }
  position:fixed;
  ul{
    li{
      padding:0 10px;
      cursor:pointer;
      
    }
  }
}
.navbar-toggle-icon{
  z-index:1000;
}
.dropdown-menu{
  background-color: grey;
  line-height:30px;
  border-radius: $border;
}
a{
  color:black;

  &:hover{
    color:red;
  }
}

.title-left {
  padding: 0;
  margin: 35px 0;
  h2 {
    font-size: 36px;
  }
  small {
    font-size: 19px;
    opacity: 0.85;
    color: grey;
  }
}
.title-right {
  padding: 0;
  margin: 35px 0;
  padding-top:40px;
  
  .view-options{
    float: right;
    font-size:14px;
    
  }
}
.arrow{
  display: inline-block;
  border-radius: $border-icon;
  background-color: grey;
  color: white;
  float: right;
  margin-left:10px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  transition: 0.1s ease;
  cursor:pointer;

  &:hover {
    background-color: rgba(19, 36, 105, 0.904);
    color: white;
  }
}
.carousel_item {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $border;
  height: 300px;
  margin-right: 15px;
  transition: 0.5s ease;
  position: relative;

  h2 {
    color: white;
    padding:10px 30px;
    font-size: 25px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096),
      0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17),
      0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244),
      0 12px 45px rgba(0, 0, 0, 0.34);
  }
}
.bookmark {
  display: inline-block;
  border-radius: $border-icon;
  background-color: rgba(255, 255, 255, 0.904);
  color: red;
  float: right;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  transition: 0.1s ease;

  &:hover {
    transform: scale(1.1);
  }
  &:active {
    background-color: rgba(19, 36, 105, 0.904);
    color: white;
  }
}

.carousel__description {
  color: white;
  margin-left: 35px;
  line-height: 30px;
  small {
    color: white;
    margin: -15px;
    font-size: 25px;
  }
  p{
    font-size:14px;
    font-weight: normal;
    opacity: .7;
    
  }
}

.display__card {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  height: 300px;
  text-align: center;
  transition: 0.5s ease;

  p {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: white;
    text-transform: none;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.4s linear;
  }

  img {
    &:hover {
      cursor: pointer;
      box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096),
        0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17),
        0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244),
        0 12px 45px rgba(0, 0, 0, 0.34);
    }
  }
  &:hover {
    p {
      width: 80%;
      text-align: center;
    }
  }
}

.img-destination {
  max-height: 400px;
  filter: brightness(50%);
  border-radius: $border;
}
.destination__name {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 12px;
  
  z-index: 1;
}
@media (min-width: 538px) {
  .img-destination {
    max-width: auto;
    max-height: 400px;
    height: 250px;
  }
}
.booking {
  background: #0030d0;
  padding: 50px 30px;
  margin:0 20px;
  border-radius: $border;
  // display: flex;
  // align-items: center;
  color: white;

  .booking__description {
    padding-top: 50px;
  }
  .booking__title {
    font-size: 20px;
    opacity: 0.6;
  }
  button {
    background: transparent;
    border: none;

    .search {
      display: inline-block;
      border-radius: $border-icon;
      background-color: rgba(238, 20, 20, 0.904);
      color: rgb(255, 255, 255);
      box-shadow: 0px 0px 2px #888;
      padding: 1em 0.6em;
      transition: 0.1s ease;
      width: 60px;
      height: 60px;
      font-size: 1.2em;

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        background-color: rgba(19, 36, 105, 0.904);
        color: white;
      }
    }
  }
}
.stories {
  overflow: visible;
}
.stories__card {
  border-radius: 25px;
  height: 500px;
  color:black;
  
  &:hover{
    box-shadow: 0 0.3px 5.6px rgba(0, 0, 0, 0.096),
    0 0.8px 9.9px rgba(0, 0, 0, 0.137), 0 1.5px 13.8px rgba(0, 0, 0, 0.17),
    0 2.7px 18.3px rgba(0, 0, 0, 0.203), 0 5px 25.3px rgba(0, 0, 0, 0.244),
    0 12px 45px rgba(0, 0, 0, 0.34);
  }
  .stories__img{
    border-radius:$border;
    object-fit: cover;
    height:100%;
    filter:brightness(55%);
    
  }
}
.stories__name {
  position: absolute;
  top: 90%;
  left:80%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 1.8em;
  
  z-index: 1;
}
.create-by{
    width: 50px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    margin-top:20px;
    
    p{
      margin:15px 5px;
      font-size:14px;
      opacity:.8;
      float:left;
    }
}
.avatar{
  float:left;
  object-fit: cover;
  width:50px;
  height:60px;
}
.blogs__display{
  overflow:hidden;

}
.blogs__card{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.025),
  0 6.7px 5.3px rgba(0, 0, 0, 0.036),
  0 12.5px 10px rgba(0, 0, 0, 0.045),
  0 22.3px 17.9px rgba(0, 0, 0, 0.054),
  0 41.8px 33.4px rgba(0, 0, 0, 0.065),
  0 100px 80px rgba(0, 0, 0, 0.09)
;
}
.blogs__name {
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 12px;
  
  z-index: 1;
}
.img-blogs{
  border-radius: $border;
}
.blogs__content{
  opacity:0.8;
  font-size:14px;
  line-height:30px;
}
.footer{
  background:#151515;
  opacity:.85;
  padding-top: 30px ;
  padding-bottom: 30px ;
  color:white;

  .footer__title{
    padding-top:50px;
  }
  
  .list-group-item {
    background-color: transparent;
    
    padding:11px 0;
    font-weight: normal;
    font-size:15px;
    opacity: .85;
    color: #fff;
    }
   
}
.footer__card{
  margin-left:20px;
}
.footer__card:first-child{
  margin-left:0;
} 
.footer__card-big{
  margin-left:60px;
  line-height:30px;

  .icon{
    margin-left:10px;
    background:red;
    color:white;

    &:hover{
      color:rgba(19, 36, 105, 0.904);
      background:white;
    }
  }
}

