//for global css

@import "global.scss";
@import "header.scss";
@import "introduction.scss";
@import "footer.scss";
.advertise__title {
  font-weight: bold;
  p {
    font-size: 1.4em;
    font-weight: normal;
  }
}

//carousel
.carousel__title {
  font-weight: 500;
  font-size: 1.7em;
  padding: 0;
}
.rating {
  padding-top: 20px;
  font-size: 0.6em;
}
.img-carousel {
  width: auto;
  height: 300px;
}
.destination {
  padding-top: 2.5em;
  .destination__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
  }
}
.img-destination {
  max-height: 400px;

  padding-top: 30px;
}
.destination__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  font-size: 1.8em;
  text-transform: uppercase;
}
@media (min-width: 538px) {
  .img-destination {
    max-width: auto;
    max-height: 400px;
    height: 250px;
    padding-top: 30px;
  }
}

